* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: darkslategray;
}

.st-font {
    font-family: "Satisfy", cursive;
   
}

html,
body {
    width: 100%;
    height: 100%;
}
.container-fluid{
    height: 100vh;
}

.i-colo {
    color: chartreuse;
}

.ss-color {
    color: rgb(17, 185, 228);
}

.border-end {
    height: 100vh !important;
}

.nav-link {
    color: whitesmoke;
}

.nav-link:hover {
    color: black;
    background-color: #e9cd79;
}

.nav-link.active {
    color: black;
    background-color: #ffc107;
    font-weight: bold;
}

